@model Pugcorn_v1.Models.Login
<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">

    <title>
        PUGCORN
    </title>
    <style>
        article {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-form {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }

            .login-form span {
                display: block;
                margin-bottom: 10px;
            }

            .login-form input[type="text"], .login-form input[type="password"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #eee;
            }

            .login-form button {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #eee;
                cursor: pointer;
            }
    </style>
</head>

<body>
    <div id="wrapper">
        <p> <img class="left" src="~/Photos/pugcorn.jpg" alt="logo"></p>
        <header>
            <a class="header" href="/"> STRONA GŁÓWNA</a>
            <a class="header" href="/home/Shoppings"> ZAKUPY</a>
            <a class="header" href="/home/Contact">KONTAKT</a>

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="header" href="/account/Login"> Zaloguj się</a>
                <a class="header" href="/account/Register"> Zarejestruj się</a>
            }
            else
            {
                <a class="header" href="/account/Logout"> Wyloguj się</a>
            }
            <a class="header" href="/home/Cart"> Koszyk</a>
        </header>
    </div>
    
    <div>
        <article>
            <div class="login-form">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <p style="text-align:center; font-size:20px">Zaloguj sie żeby korzystać z aplikacji</p>
                    <br>
                    @Html.ValidationSummary();
                    <span>Login: </span> @Html.TextBoxFor(x => x.Username)
                    <br>
                    <span>Hasło: </span> @Html.PasswordFor(x => x.Password)
                    <br>
                    <button type="submit">Akceptuj</button>
                    <br>
                    <p>Jesli nie masz konta</p><a href="/account/register" target="_self" tabindex="0">zarejestruj się</a>
                }
            </div>
        </article>
    </div>

</body>
