@model Pugcorn_v1.Models.Register

<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">

    <title>
        PUGCORN
    </title>
</head>
<body>
    <div id="wrapper">
        <p> <img class="left" src="~/Photos/pugcorn.jpg" alt="logo"></p>
        <header>
            <a class="header" href="/"> STRONA GŁÓWNA</a>
            <a class="header" href="/home/Shoppings"> ZAKUPY</a>
            <a class="header" href="/home/Contact">KONTAKT</a>

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="header" href="/account/Login"> Zaloguj się</a>
                <a class="header" href="/account/Register"> Zarejestruj się</a>
            }
            else
            {
                <a class="header" href="/account/Logout"> Wyloguj się</a>
            }
            <a class="header" href="home/Cart"> Koszyk</a>
        </header>
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary();
        <span>Login: </span>
        @Html.TextBoxFor(x => x.Username)
        <span>Email: </span>
        @Html.TextBoxFor(x => x.Email)
        <span>Password: </span>
        @Html.PasswordFor(x => x.Password)

        <button type="submit">Submit</button>
    }

</body>

