@using Pugcorn_v1
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">

    <title>
        PUGCORN
    </title>
    <meta charset="UTF-8">
    <style>
        #wrapper {
            width: 100%;
            height: 100%;
            padding: 1% 10%;
            background-color: hsl(45, 57%, 89%);
            display: right inline-block;
            text-align: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            display: flex;
            margin: auto;
        }


        .cart {
            height:auto;
            display: flex;
            justify-content: space-between;
            padding: 10%;
        }

        .products {
            height:auto;
            width: 50%;
            border: 1px solid black;
        }

        .summary {
            height:auto;
            width: 40%;
            border: 1px solid black;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        table, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }

        table {
            height: auto;
            width: 100%;
        }

        td {
            text-align: center;
        }

        button {
            border: none;
            background-color: white;
            cursor: pointer;
        }

        body {
            background-color: rgb(243, 235, 211);
        }

        button {
            background-color: rgb(105, 138, 136);
        }

        #product {
            width: 175px;
            height: 60px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <p> <img class="left" src="~/Photos/pugcorn.jpg" alt="logo"></p>
        <header>
            <a class="header" href="/"> STRONA GŁÓWNA</a>
            <a class="header" href="/home/Shoppings"> ZAKUPY</a>
            <a class="header" href="/home/Contact">KONTAKT</a>

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="header" href="/account/Login"> Zaloguj się</a>
                <a class="header" href="/account/Register"> Zarejestruj się</a>
            }
            else
            {
                <a class="header" href="/account/Logout"> Wyloguj się</a>
            }
            <a class="header" href="/home/Cart"> Koszyk</a>
        </header>
    </div>
    <div class="cart">

        <div class="products">
            @{
                @inject ProductService productService;
                var products = productService.FindAll();
            }
            <h1>Produkty</h1>

            <table id="products">
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Akcja</th>
                </tr>

                @foreach (var product in products)
                {
                    <tr>
                        <td><img src="~/Photos/pugcorn-manuel-schmucker.jpg" alt="po" id="product">@product.Name</td>
                        <td>$ @product.Price</td>
                        <td><button type="button" onclick="addToCart(this)">Dodaj do koszyka</button></td>
                    </tr>
                }
            </table>
        </div>

        <div class="summary">
            <h1>Podsumowanie</h1>

            <table id="cart">
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Akcja</th>
                </tr>
            </table>

            <p>Łącznie: <span id="total"></span></p>
        </div>
    </div>
    <script>

        var cart = [];

        function addToCart(button) {

            var row = button.parentNode.parentNode;
            var name = row.cells[0].innerHTML;
            var price = row.cells[1].innerHTML;

            cart.push({ name: name, price: price });

            var table = document.getElementById("cart");
            var newRow = table.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            cell1.innerHTML = name;
            cell2.innerHTML = price;
            cell3.innerHTML = '<button type="button" onclick="removeFromCart(this)">Remove</button>';

            updateTotal();
        }

        function removeFromCart(button) {

            var index = button.parentNode.parentNode.rowIndex - 1;

            cart.splice(index, 1);

            var table = document.getElementById("cart");
            table.deleteRow(index + 1);

            updateTotal();
        }

        function updateTotal() {
            var total = 0;
            for (var i = 0; i < cart.length; i++) {
                total += parseInt(cart[i].price.slice(1));
            }
            document.getElementById("total").innerHTML = "$" + total;
        }
    </script>
</body>
</html>