<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Wysylkaizwroty.css">

    <title>
        PUGCORN
    </title>

</head>
<body>
    <div id="wrapper">
        <p> <img class="left" src="~/Photos/pugcorn.jpg" alt="logo"></p>
        <header>
            <a class="header" href="/"> STRONA GŁÓWNA</a>
            <a class="header" href="/Shopiings"> ZAKUPY</a>
            <a class="header" href="/Contact">KONTAKT</a>

            <a class="header" href=""> Zaloguj się</a>
            <a class="header" href=""> Koszyk</a>
        </header>
    </div>
        
    <article>
            <p style="text-align:center; font-size:64px;"> Skontaktuj się z nami</p>   
            <p style="text-align:center; font-size: 48px;"> SHIPPING POLICY</p>
            <p style="text-align:center; font-size: 24px;" >I’m a shipping policy section. </p>
            <p style="text-align:center; font-size: 48px;">RETURN & EXCHANGE POLICY</p>
            <p style="text-align:center; font-size: 24px;" >I’m a return policy section.</p>
 
    </article>

<section>
        <div id="D">
            <li> <a data-testid="linkElement-0" href="/" target="_self" tabindex="0">STRONA GŁÓWNA</a></li>
            <li><a data-testid="linkElement-1" href="" target="_self" tabindex="0">ZAKUPY</a></li>
            <li><a data-testid="linkElement-2" href="/contact" target="_self" tabindex="0">KONTAKT</a></li>
        </div>
        
        <div id="B">
            <li><a class="box2" href="FAQ.html" target="_self">FAQ</a></li>
            <li><a class="box2" href="/returns" target="_self">Wysyłka i zwroty</a></li>
            <li> <a class="box2" href="/ShopRules" target="_self">Regulamin sklepu</a></li>
        </div>

        <div id="O">
            <li><p>OBSŁUGA KLIENTA</p></li>
            <li><p>+48 800-000-000</p></li>
            <li><a data-auto-recognition="true" href="mailto:info@pugcorn.com">info@pugcorn.com</a></li>
        </div>
</section>

</body>
<footer>

        <ul><p style="text-align:center; font-size:36px;"> Dołącz do naszego newslettera!</p>
        <input type="email" name="email" value="" placeholder="Wpisz swój email tutaj" required="" aria-required="true" pattern="" maxlength="250" aria-label="Wpisz swój email tutaj">
        <button aria-disabled="false" data-testid="buttonElement">DOŁĄCZ</button></ul>

        <p style="text-align:center; font: size 4px; position: center absolute; margin-left: auto; margin-right: auto;"> © 2022 by PUGCORN</p>

</footer>