@using Pugcorn_v1
<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Zakupy.css">

    <title>
        PUGCORN
    </title>

</head>
<body>
    <div id="wrapper">
        <p> <img class="left" src="~/Photos/pugcorn.jpg" alt="logo"></p>
        <header>
            <a class="header" href="/"> STRONA GŁÓWNA</a>
            <a class="header" href="/home/Shopings"> ZAKUPY</a>
            <a class="header" href="/home/Contact">KONTAKT</a>

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="header" href="/account/Login"> Zaloguj się</a>
                <a class="header" href="/account/Register"> Zarejestruj się</a>
            }
            else
            {
                <a class="header" href="/account/Logout"> Wyloguj się</a>
            }
            <a class="header" href="/home/Cart"> Koszyk</a>
        </header>
    </div>
    <p style="text-align:center; font-size:64px;"> NASZE PRODUKTY</p>
    <article>
        <div class="product-list">
            @{
                @inject ProductService productService;
                var products = productService.FindAll();
            }
            @foreach (var product in products)
            {
                <div class="product">
                    <img class="product-image" src="~/Photos/pugcorn-manuel-schmucker.jpg" alt="@product.Name">
                    <div class="product-name">@product.Name</div>
                    <div class="product-description">@product.Description</div>
                    <div class="product-price">@product.Price</div>
                </div>
            }
        </div>
    </article>

    <section>
        <div id="D">
            <li> <a data-testid="linkElement-0" href="/" target="_self" tabindex="0">STRONA GŁÓWNA</a></li>
            <li><a data-testid="linkElement-1" href="/home/Shoppings" target="_self" tabindex="0">ZAKUPY</a></li>
            <li><a data-testid="linkElement-2" href="/home/Contact" target="_self" tabindex="0">KONTAKT</a></li>
        </div>

        <div id="B">
            <li><a class="box2" href="FAQ.html" target="_self">FAQ</a></li>
            <li><a class="box2" href="/home/Returns" target="_self">Wysyłka i zwroty</a></li>
            <li> <a class="box2" href="/home/ShopRules" target="_self">Regulamin sklepu</a></li>
        </div>

        <div id="O">
            <li><p>OBSŁUGA KLIENTA</p></li>
            <li><p>+48 800-000-000</p></li>
            <li><a data-auto-recognition="true" href="mailto:info@pugcorn.com">info@pugcorn.com</a></li>
        </div>
    </section>

</body>
<footer>

    <ul>
        <p style="text-align:center; font-size:36px;"> Dołącz do naszego newslettera!</p>
        <input type="email" name="email" value="" placeholder="Wpisz swój email tutaj" required="" aria-required="true" pattern="" maxlength="250" aria-label="Wpisz swój email tutaj">
        <button aria-disabled="false" data-testid="buttonElement">DOŁĄCZ</button>
    </ul>

    <p style="text-align:center; font: size 4px; position: center absolute; margin-left: auto; margin-right: auto;"> © 2022 by PUGCORN</p>

</footer>
